{% extends "layout.html" %}
{% block content %}
            <center><h3>Definición del puesto</h3></center>
            <form action="/agrega_usuario" method="post">
              <div class="form-row">
                  <label for="cve_usuario">Clave de usuario</label>
              </div>
              <div class="form-row">
                   <div class="form-group col-md-2">
                        <label for="cve_usuario">Nombre del Usuario</label>
                        <input type="text" class="form-control" name="cve_usuario" id="cve_usuario" placeholder="nombre"  required>
                    </div>
                    <div class="form-group col-md-8">
                        <label for="nom_usuario">Nombre del Usuario</label>
                        <input type="text" class="form-control" name="nom_usuario" id="nom_usuario" placeholder="nombre"  required>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="pass_usuario">Contraseña</label>
                        <input type="text" class="form-control" name="pass_usuario" id="pass_usuario" placeholder="************" required>
                    </div>
               </div>

              <label for="per_usuario">Habilidad</label>&nbsp;&nbsp;&nbsp;
              <select name="per_usuario" id="per_usuario" class="form-control">
                  <option value="0" selected>Choose...</option>
                  {%
                     for perfil in perfiles
                  %}
                     <option value="{{ perfil.0 }}">{{ perfil.1 }}</option>
                  {%   endfor %}
              </select>&nbsp;&nbsp;&nbsp;


                <button type="submit" class="btn btn-primary">Agrega</button>
            </form>

{% endblock %}