{% extends "layout.html" %}
{% block content %}
            <form action="/modifica_contacto/{{contacto.0}}" method="post">


              <div class="form-group col-md-8">
                   <label for="nombre">Nombre</label>
                   <input type="text" class="form-control" name="nombre" id="nombre" value="{{contacto.1}}">
              </div>

              <div class="form-group col-md-8">
                   <label for="domicilio">Domicilio</label>
                   <input type="text" class="form-control" name="domicilio" id="domicilio" value="{{contacto.2}}">
              </div>

              <div class="form-group col-md-8">
                   <label for="razon">Razón Social</label>
                   <input type="text" class="form-control" name="razon" id="razon" value="{{contacto.3}}">
              </div>
              <div class="form-group col-md-2">
                   <label for="telefono">Telefono</label>
                   <input type="text" class="form-control" name="telefono" id="telefono" value="{{contacto.4}}">
              </div>


              <button type="submit" class="btn btn-primary">Agrega</button>
            </form>

{% endblock %}