{% extends "layout.html" %}

{% block content %}
            <form action="/modifica_idioma/{{idioma.0}}" method="post">
              <div class="form-row">
                  <label for="descripcion">Lenguaje</label>
              </div>
              <div class="form-row">
                <div class="col">
                    <input type="text" class="form-control" name="descripcion" id="descripcion" placeholder="descripcion" value="{{idioma.1}}">
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Actualiza</button>
            </form>

{% endblock %}